body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.bg-img {
    min-height: 700px;
    background: url(../images/GoldenConcept.jpg) no-repeat;
    background-size: 100%;
}
.bg-black {
    background-color: rgb(15, 15, 15);
}
#img-div {
    margin: auto;
}
#image {
    max-width: 100%;
    display: block;
}
section img {
    max-width: 100%;
    display: block;
}
h1, h2, h3 {
    color: rgb(255, 187, 27);
    margin: 10px auto 10px auto;
    font-family: 'Marcellus SC', serif;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1em;
}
p, ul, footer{
    font-size: 1.5em;
    color: rgb(225, 225, 225);
}
a {
    border-bottom: 2px solid rgb(255, 223, 14);
}
a:visited {
    border-bottom: 2px solid rgb(255, 223, 14);
    color: rgb(225, 225, 225);
}
header {
    position: fixed;
    top: 0;
    padding: 10px 5px;
}
nav a {
    float: right;
    margin-left: 10px;
}
section, aside {
    padding: 10px 5px;
}
.CC {
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-box:nth-child(1n) {
    width: 32%;
}
.height200 {
    height: 200px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.width100 {
    min-width: 100%;
}
@media screen and (max-width: 1100px) {
    .bg-img {
        min-height: 500px;
    }
}
@media screen and (max-width: 900px) {
    .bg-img {
        min-height: 400px;
    }
}
@media screen and (max-width: 700px) {
    .bg-img {
        min-height: 300px;
    }
}